<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"/>   <!-- Chrome/Edge -->
    <classes>
      <!-- <class name="com.esite.testcases.TestCase_Login1"/>-->
       <class name="com.esite.testcases.TestCase_Search1"/>
       <class name="com.esite.testcases.TestCase_ProductDisplayPage"/>
       <class name="com.esite.testcases.TestCase_AddCartPlaceOrder"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


